.git
.github
.gitignore
.gitattributes

venv
env
.venv

media
db.sqlite3
env.txt
disk.bash

*.pyc
__pycache__
.pytest_cache
*.log
*.pem
*.key
*.crt
service-account.json
.env

.vscode
.idea

openshift/*secret*.yaml
k8s/yaml/*secret*.yaml
