asgiref==3.11.1
Authlib==1.7.0
boto3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==47.0.0
Django==6.0.4
idna==3.13
joserfc==1.6.4
numpy
pycparser==3.0
psycopg[binary]
python-dotenv==1.2.2
requests==2.33.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.6.3
pypdf
python-docx
pytesseract
pillow
pdf2image
openpyxl
PyJWT==2.10.1
gunicorn
opensearch-py
